body{
    padding: 0;
    height: 0;
    box-sizing: border-box;
}
*{
    font-family: "Inter",Georgia, 'Times New Roman', Times, serif;
    color: #ff5900;
}
li{
    list-style: none;
}
nav{
    background-color: #222e5a;
    top: 0;
    left: 0;  /* Começa escondida */
    width: 70px;
    height: 100%;
    z-index: 999;
    margin: 0 0 0 ;
    padding: 0;
    position: fixed;
    overflow: hidden;
    transition: all 1s ease;
}

.menu_area{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    cursor: pointer;
}
.menu_bar{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.menu_bar_line{
    background-color: #ff5900;
    width: 40px;
    height: 5px;
}
.menu_link_area{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-left: 12px;
}

.menu_link{
    display: flex;
    gap:20px
}
.link_img{
    width: 20px;
}
.link_text{
    margin-left: 15px;
    text-decoration: none;
    font-size: 15px;
}
.section{
    z-index: -999;
    margin-left:100px ;
}
.pesquisa_area{
    display: flex;
    flex-direction: column;
     gap:20px;
     padding-top: 100px;
}
.pesquisa_area label{
    font-size: 30px;
    flex-direction: column;
}
.pesquisar_input{
    display: flex;
     gap:20px
}
.pesquisar_input input{
    outline: none;
    border: 2px solid #ff5900;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-transform: uppercase;
}
.pesquisar_input input::placeholder{
    color: #ff5900;
}
.busca{
    background-color: #222e5a;
    cursor: pointer;
      border-radius: 5px; 
}
.pesquisar_input img{
    width: 40px;
    border-radius: 5px;    
}
.photo_area{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.photo_title{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.photo_text{
    display: flex;
    gap: 5px;
}
.photo_text h1{
    font-size: 20px;
}
.photo_area2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: #222e5a;
    border: 4px solid #ff5900;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.photo_quadrada{
    background-color: gray;
    width: 100%;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
    margin: 5px;
}
.h1_div{
    background-color: #fff;
    border: 3px solid #ff5900;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h1_vistoria{
    font-size: 14px
}
.button_dw{
    cursor:pointer;
    width: 20%;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #222e5a;
    color: #ff5900;
    padding: 10px;
    text-align: center;
}
.button_dw:hover{
    background-color: #2a386d;
}
@media (max-width:941px){
    .photo_text h1 {
    font-size: 15px;
}
}
@media (max-width:901px){
    .photo_area2{
    height: 300px;
}}

@media (max-width:801px){
    .photo_area2{
    height: 200px;
}
}
@media (max-width:769px){
    .photo_text h1 {
    font-size: 13px;
}
}
@media (max-width:686px){
    .photo_area2{

    grid-template-columns: repeat(4,1fr);
    
}
    .photo_text h1 {
    font-size: 11px;
}
.button_dw {
    padding: 10px;
    font-size: 15px;
}
}
@media (max-width:580px){
    .photo_area2{

    grid-template-columns: repeat(3,1fr);
    
}
    .photo_text h1 {
    font-size: 11px;
}
.button_dw {
    width: 50%;
}
.photo_title{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
}
@media (max-width:481px){
    .photo_area2{
    grid-template-columns: repeat(2,1fr);
    
}
}
@media (max-width:401px){
.pesquisa_area label {
    font-size: 20px;
    flex-direction: column;
}
.pesquisar_input input{
    width: 100px;
    padding: 5px;
}
.pesquisar_input img {
    width: 25px;
}
}

@media (max-width:321px){
.photo_area2{
    grid-template-columns: repeat(2,1fr);
    
}
.button_dw {
    font-size: 10px;
    padding: 7px;
}
}


