body{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    height: 100%;
}
*{
  font-family: "Inter",Georgia, 'Times New Roman', Times, serif 
}
.container{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontal */
    align-items: center;     /* Centraliza vertical */
}
.login_area{ 
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
   background-color: #222e5a;
}
.login_email,
.login_senha{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_email label,
.login_senha label{
    font-size: 30px;
    color: #ff5900;
}

.login_email input,
.login_senha input{
    width: 90%;
    height: 30px;
    border: 2px solid #ff5900;
    border-radius: 5px ;
    padding: 5px;;
    outline: none;
    color: #ff5900;
}

.login_email input::placeholder,
.login_senha input::placeholder{
   color: #ff5900;
}
.show_password{
    display: flex;
    align-items: center;
}
.img_password{
    width: 30px;
    cursor:pointer;
    margin-left: -35px;
}
.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5900;
    width: 25%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor:pointer; 
}
.obs{
    font-size: 20px;
    color:#ff5900;
}

@media (max-width:650px){
  
    .login_button{
    font-size: 15px;
}
}
@media (max-width:650px){ 
    .obs{
    font-size: 15px;
}
}
@media (max-width:450px){ 
    .login_email label,
    .login_senha label{
        font-size: 20px;
    }
    .login_area{ 
     height: 56%;
    }
}
